#root{
    position: absolute;
    top: 30%;
    left: 45%;
}

input[type="text"]{
    width: 100%;
    border-radius: 4px;
    outline: 0;
    border: 1px solid gray;
    padding: 10px
}

label{
    font-size: 14px;
}

.example-appear{
    animation: fadein 1s ease-in-out;
}

@keyframes fadein{
    from {opacity: 0.01;}
    to {opacity: 1;}
}

.example-leave{
    animation: fadeout 1s ease-out;
}
@keyframes fadeout{
    from {opacity: 1;}
    to {opacity: 0.01;}
}
